{% extends 'main/base.html' %}
{% load static %}
{% block content %}


<section class="page__advantages advantages">
	<br>
					<div class="advantages__container">
						<div class="advantages__items">
							<article class="advantages__item">
								<h4 class="advantages__value">1.2M+</h4>
								<div class="advantages__text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim.
								</div>
							</article>
							<article class="advantages__item">
								<h4 class="advantages__value">3.4B</h4>
								<div class="advantages__text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim.
								</div>
							</article>
							<article class="advantages__item">
								<h4 class="advantages__value">98%</h4>
								<div class="advantages__text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim.
								</div>
							</article>
							<article class="advantages__item">
								<h4 class="advantages__value">10+</h4>
								<div class="advantages__text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim.
								</div>
							</article>
						</div>
						<div class="advantages__image">
							<img src="{% static 'main/images/advantages/image.jpg' %}" alt="image">
						</div>
					</div>
				</section>

{% endblock %}