{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<section class="page__blog blog">
					<div class="blog__container">
						<div class="blog__header header__main">
							<br><h2 class="header-main__title">Read our <br> articles & news</h2>
							<div class="header-main__body">
								<div class="header-main__text">
									{% for new in news %}
									<div style="text-transform:uppercase;">{{new.title}}</div><br>
									{{new.text}} <br>
									{{new}} <br>
									<img src="{{new.image.url}}" width=40%><br>
									{{new.date}} <br><br><br>

									{% endfor %}
								</div>
								<div class="header-main__actions">
									<a href="" class="header-main__button button">All News</a>
								</div>
						</div>
						</div>
						<div class="blog__items">
							<article class="blog__item item-blog">
								<div class="item-blog__header">
									<a href="" class="item-blog__image">
										<img src="{% static 'main/images/blog/01.jpg' %}" alt="image">
									</a>
									<a href="" class="item-blog__category">Social Media</a>
							  </div>
								<div class="item-blog__body">
									<div class="item-blog__date">August 28, 2022</div>
									<h4 class="item-blog__title">
										<a href="" class="item-blog__link-title">How to Use Social Proof in Marketing</a>
									</h4>
									<div class="item-blog__text text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna adipiscing praesent velit viverra sit semper lorem.</p>
									</div>
									<a href="" class="item-blog__link">Read now</a>
								</div>
							</article>
							<article class="blog__item item-blog">
								<div class="item-blog__header">
									<a href="" class="item-blog__image">
										<img src="{% static 'main/images/blog/02.jpg' %}" alt="image">
									</a>
									<a href="" class="item-blog__category">SEO</a>
							  </div>
								<div class="item-blog__body">
									<div class="item-blog__date">August 28, 2022</div>
									<h4 class="item-blog__title">
										<a href="" class="item-blog__link-title">Make a great first impression with these titles</a>
									</h4>
									<div class="item-blog__text text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna adipiscing praesent velit viverra sit semper lorem.</p>
									</div>
									<a href="" class="item-blog__link">Read now</a>
								</div>
							</article>
							<article class="blog__item item-blog">
								<div class="item-blog__header">
									<a href="" class="item-blog__image">
										<img src="{% static 'main/images/blog/03.jpg' %}" alt="image">
									</a>
									<a href="" class="item-blog__category">Strategy</a>
							  </div>
								<div class="item-blog__body">
									<div class="item-blog__date">August 28, 2022</div>
									<h4 class="item-blog__title">
										<a href="" class="item-blog__link-title">How to Grab Your Reader's Attention</a>
									</h4>
									<div class="item-blog__text text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis arcu enim urna adipiscing praesent velit viverra sit semper lorem.</p>
									</div>
									<a href="" class="item-blog__link">Read now</a>
								</div>
							</article>
						</div>
					</div>

				</section>


{% endblock %}