{% extends 'main/base.html' %}
{% load static %}
{% block content %}


<section class="page__start start"><br><br><br><br><br><br><br><br><br><br><br>
					<div class="start__container">
						<div class="start__body">
							<div class="start__column">
								<h2 class="start__title">Ready to start scaling <br> your business now?</h2>
								<div class="start__text text">
									<p>Lorem ipsum dolor sit am consectetur adipiscing varius enim in eros.</p>
								</div>
							</div>
							<div class="start__column">
								<div class="start__actions">
									<a href="" class="start__button button">Our services</a>
									<a href="" class="start__button button button__dark">Contact us</a>
								</div>
							</div>
					 </div>
					</div>
	<br><br>
	<div class="start__container">
						<div class="start__body">
							<div class="start__column">
								<h2 class="start__title">Ready to start scaling <br> your business now?</h2>
								<div class="start__text text">
									<p>Lorem ipsum dolor sit am consectetur adipiscing varius enim in eros.</p>
								</div>
							</div>
							<div class="start__column">
								<div class="start__actions">
									<a href="" class="start__button button">Our services</a>
									<a href="" class="start__button button button__dark">Contact us</a>
								</div>
							</div>
					 </div>
					</div>
	<br><br>
	<div class="start__container">
						<div class="start__body">
							<div class="start__column">
								<h2 class="start__title">Ready to start scaling <br> your business now?</h2>
								<div class="start__text text">
									<p>Lorem ipsum dolor sit am consectetur adipiscing varius enim in eros.</p>
								</div>
							</div>
							<div class="start__column">
								<div class="start__actions">
									<a href="" class="start__button button">Our services</a>
									<a href="" class="start__button button button__dark">Contact us</a>
								</div>
							</div>
					 </div>
					</div>
				</section>

{% endblock %}