{% extends "main/base.html" %}


{% block content %}
                                              TEST!!!
<br><br><br><br><br><br><br><br><br><br><br>
{% if user.is_authenticated %}

   <h1>Hi, your logged in as {{ user.username }}!</h1> <br>
   <form action="{% url 'main:logoutuser' %}" method="POST">
       {% csrf_token %}
    <button type="submit">Log out</button>
    </form>

{% else %}

  <p>You are not logged in</p>
  <h1>Sign up</h1>

{{ error }}

<form method="POST">
	{% csrf_token %}
{{ form.as_p }}
<button type="submit">Sign up</button>
</form>
{% endif %}


{% endblock %}
